.sister-page {
        text-align: center;
        background-color: #36393f;
        color: #f6f6f6;
        padding: 20px;
      }
      
      .sister-image {
        max-width: 300px;
        margin-top: 20px;
      }
      